html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* header */

header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 95px;
  background-color: #F5E3E0;
  justify-content: space-between;
  border-bottom: solid 2px;
  z-index: 1;

  /*потом можно убрать, это для НГ*/
  position: sticky;
  top: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
}

.header-nav-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-left: 15px;
  border-bottom: 2px solid transparent;
  transition: opacity 0.2s ease-in;
}

.header-nav-text:hover {
  opacity: 0.8;
}

.page-now {
  border-bottom: solid 2px;
}

.header-text {
  padding-left: 15px;
}

.heart {
  width: 50px;
  height: 50px;
}

.header-logo {
  display: flex;
  padding-left: 60px;
  align-items: center;
  transition: size 0.2s ease-in;
}

.header-logo:hover {
  size: 0.8;
}

.header-logo-text {
  font-size: 24px;
  font-weight: 500;
}

.soc-animation {
  transition: transform linear 100ms;
}

@keyframes color {
  0% {
    color: red;
  }

  10% {
    color: #ff0088;
  }

  20% {
    color: #c800ff;
  }

  30% {
    color: #4c00ff;
  }

  40% {
    color: #3700ff;
  }

  50% {
    color: #0084ff;
  }

  60% {
    color: #00ccff;
  }

  70% {
    color: #00ff7b;
  }

  80% {
    color: #fbff00;
  }

  90% {
    color: #ff9500;
  }

  100% {
    color: red;
  }
}

.soc-animation:hover {
  transform: translate(0, -5px);
  filter: drop-shadow(0 0 0.75rem pink);
  animation-name: color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* header */
/* main */

main {
  width: 100%;
  height: auto;
  min-height: 1500px;
  background-color: #E8B4BC;
}

.main-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.hello-card-container {
  margin: 0 auto;

}

.hello-card {
  height: 370px;
  width: 630px;
  background-color: #FFC8DD;
  margin-right: 435px;
  margin-top: 50px;
  border-radius: 25px;
  transition: box-shadow linear 300ms;
  display: block;
  position: relative;
}

.hello-card:hover {
  box-shadow: 0px 0px 30px 30px #FFC8DD;
}


.hello-card-text {
  width: 440px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 24px;
  row-gap: 30px;
  padding: 20px 0 20px 30px;
}

.stathem-cont {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;

}

.stathem {
  width: 100px;
  margin-right: 10px;
  margin-left: auto;
}

.cards {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 71px;
}

.card-vika {
  height: auto;
  min-height: 560px;
  width: 380px;
  margin-top: 200px;
  border-radius: 25px;
  background-color: #FFC8DD;
  transition: box-shadow linear 300ms;
}

.card-vika:hover {
  box-shadow: 0px 0px 20px 20px #FFC8DD;
}

.card-lesha {
  height: auto;
  min-height: 560px;
  width: 380px;
  border-radius: 25px;
  background-color: #FFC8DD;
  transition: box-shadow linear 300ms;
  margin-left: 120px;
}

.card-lesha:hover {
  box-shadow: 0px 0px 20px 20px #FFC8DD;
}

.all-card-text {
  padding: 15px;
}

.card-text {
  font-size: 24px;
  padding-bottom: 10px;
}

.secret-card-text {
  font-size: 24px;
  font-weight: 400;
  transition: color linear 100ms;
}

.secret-card-text:hover {
  color: red;
}

.card-title {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 15px;
}

.tehiro {
  width: 100px;
}

.photo-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 35px;
}

.projects-button {
  height: 50px;
  width: 340px;
  background-color: #FFC8DD;
  transition: box-shadow linear 300ms;
  margin-left: 516px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-button:hover {
  box-shadow: 0px 0px 20px 20px #FFC8DD;
}

.prjbutton-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 71px;
}

.prjb {
  width: 100%;
  height: 100%;
}

.projects-button-text1 {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
}

.projects-button-text2 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  padding-left: 12px;
}

.projects-button-text {
  display: flex;
  justify-content: center;
}

/* main */
/* footer */
footer {
  width: 100%;
  height: 95px;
  background-color: #F5E3E0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: solid 2px;
}

.footer-logo-text {
  font-size: 24px;
  font-weight: 500;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-tg {
  height: 40px;
  width: 40px;
  padding-left: 60px;
}

.footer-git {
  height: 40px;
  width: 40px;
  padding-right: 60px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

/* footer */


/*projects*/
.project__main-content {
  padding: 40px;
}

.main__project {
  width: 630px;
  background-color: #FFC8DD;
  margin-bottom: 70px;
  transition: box-shadow linear 300ms;
  border-radius: 25px;
}

.main__project:hover {
  box-shadow: 0px 0px 20px 20px #FFC8DD;
}

.main__project-foto {
  margin: 20px;
}

.prjfoto {
  width: 340px;
  height: 340px;
  border-radius: 25px;
}

.main__project-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px;
}

.main__project-info-title {
  font-size: 36px;
  font-weight: bold;
}

.main__project-info-bio {
  font-size: 24px;
}

.proj-cont {
  display: flex;
  justify-content: flex-start;
}

.proj-cont2 {
  display: flex;
  justify-content: flex-end;
}

.main__project1 {
  display: flex;
  justify-content: flex-start;
}

.main__project2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.main__project3 {
  display: flex;
  justify-content: flex-start;

}

.proj-cont-plus {
  width: 1080px;
  margin: 0 auto;
}

.proj-cont-plus2 {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

/*projects*/

/* contacts */

.contacts-main {
  min-height: 700px;
}

.contacts-header {
  position: relative;
}

.contacts-container {
  display: flex;
  justify-content: center;
}

.all-contacts {
  display: flex;
  justify-content: space-between;
  width: 1000px;

}

.con-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-contacts {
  margin: 0 auto;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 52px;
}


.linee {
  width: 3px;
  height: 360px;
  background: black;
  margin-top: 60px;
}

.c-title {
  font-size: 32px;
  font-weight: 500;
  padding-bottom: 20px;
}

.c-text {
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 15px;
}

.c-container {
  display: flex;
}

.c-rainbow-text {
  padding-left: 10px;
  animation-name: color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: transform linear 100ms;
}

.c-rainbow-text:hover {
  transform: translate(0, -5px);
}

.contacts-link {
  color: white;

}

/* contacts */

/* artem */

/*.artem-main {
  background-size: 700px;
  background-image: url(imgs/am-nom.png);
}*/

.player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artem-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.artem-t-big {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 20px;
}

.artem-t {
  font-size: 20px;
}

/* artem */


/* ПРАЗДНИЧНЫЕ */

/* НГ */
.girlyanda-left {
  position: fixed;
  left: 0;
  top: 0;
  width: auto;
  height: 1153px;
}

.girlyanda-right {
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  height: 1153px;
}

.soc-animation:hover {
  color: #FF1800;
  transform: translate(0, -5px);
}

/* НГ */